<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<!-- Toolbar -->
<div class="toolbar" role="banner">
 <article>
  <h2>Welcome {{title}}, I would like a {{flavour}}</h2>
  <!--<app-my-form></app-my-form>-->
  <app-val></app-val>

  <!--<section>
  <aside *ngFor='let item of products'> 
    <app-item-renderer (purchaseEvent)='addToCart(item)' [whichItem]='item'></app-item-renderer>
  </aside>
</section>
<hr/>
<section>
  <ul>
    <li *ngFor='let item of cart'>{{item.name}} {{item.price |currency:'GBP'}}</li>
  </ul>
</section>
 
  <p>one plus two equals {{ 1+2 }}</p>
  <section *ngIf='!cookieFlag'>
    <button (click)='handleCookies()'>Accept Cookies</button>
  </section>
  <hr/>


  <aside [hidden]='cookieFlag'>
    <p>This is conditionally displayed</p>
    <img [src]='imageSource' alt='an image'/>
  </aside>
  
  <section>
    <app-placeholder></app-placeholder>
  </section>-->
 </article>
</div>



<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


